Repository hairyhenderson/go-which, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, build

Replace uses of afero with io/fs
  .github/workflows/build.yml
  Makefile
  cmd/which/main.go
  go.mod
  go.sum
  internal/cmd/cmd.go
  internal/cmd/cmd_test.go
  internal/tests/integration/basic_test.go
  internal/tests/integration/integration.go
  internal/tests/integration/integration_test.go
  which.go
  which_test.go
Labels: dependencies, build

Simplify
  which.go
  which_test.go
  which_test_windows.godisabled
Labels: none

lint fix
  .golangci.yml
  which.go
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

lint
  which_test.go
Labels: none

CI updates
  .github/workflows/build.yml
  .github/workflows/docker.yml
Labels: build

Update README
  README.md
Labels: documentation

use 3.15 instead
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Update Dockerfile
  Dockerfile
Labels: none

Updates
  .github/workflows/build.yml
  .golangci.yml
  go.mod
  go.sum
  internal/version/version.go
  which_test.go
Labels: dependencies, build

update golangci config
  .golangci.yml
Labels: none

fix image scan
  .github/workflows/image-scan.yml
Labels: build

fix build
  .github/workflows/build.yml
Labels: build

.github/labeler.yml:

documentation:
- docs/**/*
- '*.md'

dependencies:
- go.mod
- go.sum

build:
- .github/workflows/*
- Makefile
